/* BankView.css */

/* Globale Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #F2EBE5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Header */

.bank-info-container {
  background-color: #9F496E;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/* Transaktionen */

.transaction-container,
.credit-container, 
.securities-container, 
.file-upload-container{
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.transaction-container h3,
.credit-container h3 {
  color: #9F496E;
  margin-bottom: 1rem;
}

.transaction-container label,
.credit-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.transaction-container input[type="number"],
.credit-container input[type="number"],
.securities-container input[type="number"]
 {
  border: none;
  border-radius: 0.25rem;
  border: 0.05rem solid #647295;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
}

.transaction-container button[type="submit"],
.credit-container button[type="submit"] {
  background-color: #647295;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.transaction-container button[type="submit"]:hover,
.credit-container button[type="submit"]:hover {
  background-color: #9F496E;
}

/* Wertpapiere */
.securities-container {
  margin-top: 30px;
}

.securities-container h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #9F496E;
  color: #F2EBE5;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


tr:nth-child(even) {
  background-color: #F2EBE5;
}

tr:hover {
  background-color: #647295;
  color: #F2EBE5;
}

button {
  background-color: #2B262D;
  color: #F2EBE5;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #9F496E;
}

/* CSS für das Datei-Upload-Feld */
.file-upload-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload-container label {
  background-color: #f2ebe5;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-top: 15px;
}

.start-transaction-simulation {
  background-color: #9F496E;
  color: #F2EBE5;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-top: 15px;
}

.file-upload-container input[type="file"] {
  display: none;
}

.file-upload-container button {
  display: none;
}


.footer {
  text-align: center;
  margin-top: 50px;
  font-size: 0.8rem;
  color: #9F496E;
}
